/* Color Scheme 
Windows 8 Metro Theme
----------------------------
----------------------------
----------------------------
----------------------------*/
/* Mixin Section
----------------------------
----------------------------
----------------------------
----------------------------*/
/* Font Control */
div {
  border: 0px solid black;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Headers
----------------------------
----------------------------
----------------------------
----------------------------*/
h1, h2 {
  font-size: 10px;
  font-weight: bold;
  font-family: "Arial Times New Roman";
  color: black;
  padding: 5px;
}

/* Navbar 
----------------------------
----------------------------
----------------------------
----------------------------*/
.nav-static {
  display: block;
  color: white;
  background-color: black;
  /* Smartphones (portrait and landscape) ----------- */
}
@media (max-width: 40rem) {
  .nav-static {
    display: none;
  }
}

.navMenu {
  display: none;
}

.slicknav_menu {
  display: none;
}
@media (max-width: 40rem) {
  .slicknav_menu {
    display: block;
    width: 100%;
  }
}

.fixed {
  position: fixed;
  width: 100%;
  height: 50px;
}

/* Separator & Column-Fill
----------------------------
----------------------------
----------------------------
----------------------------*/
.separator {
  height: 50px;
}

.col-fill {
  height: 100%;
}

/* Content
----------------------------
----------------------------
----------------------------
----------------------------*/
.container-fluid {
  height: 100%;
  border: 1px solid black;
}

.content-area {
  height: 100%;
}

.center-content {
  font-size: 16px;
  font-weight: bold;
  font-family: "Garamond";
  color: black;
  text-align: center;
}

/* Footer
----------------------------
----------------------------
----------------------------
----------------------------*/
.footer {
  clear: both;
}
